
.SelectorForm{
    position: absolute;
    top:1rem;
    left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
    background-color: white;
    max-width: 22rem;
    width:100%;
    height: 11rem;   
    border-radius: 1.25rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.StartEndInputContainer{
    width: 100%;
}


.parkWaypoint{
    color: blue;
}

.StartEndInputContainer{
    display: flex;
    justify-content: space-between;
margin: .5rem;
}

.waypointButtonAndInputContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: .5rem;
}

.CreateViewRouteButtonContainer{
position:absolute;
bottom: 0;
display: flex;
justify-content: space-between;
flex-direction:row-reverse;
width: 100%;
}



@media(max-width: 767px){
    .SelectorForm{
    max-width:100%;
    top: 5rem;
    left: auto;
    }
  }