
.AddWaypointButton{
    max-width: 9rem;
    width:100%;
    height: 2rem;
    margin: .5rem .5rem 0 0;
    font-size: .80rem;
    font-weight: bold;
    background-color: rgb(137, 173, 218);
    color: black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}