

.ViewRouteButton{
    width: 10rem;
    height: 2rem;
    margin-top: .5rem;
    font-size: .75rem;
    font-weight: bold;
    background-color: rgb(137, 173, 218);
    color: black;
    margin: .5rem 0 1rem .5rem;
}