

.ViewRouteContiner{
    background-color: white;
    max-width: 23rem;
    width: 100%;
    height: 250px;
    font-weight: bold;
    font-size: .75rem;
    position: absolute;
    top:13rem;
    left: 1rem;
    border-radius: 1.25rem;
    display:flex;
    flex-direction: column;
}



.HeadingsWrapper{
    display: flex;
    margin:1rem 0 1rem 0;
}

.ViewRouteContinerPoints{
    all:unset;
    color: black;
    font-size:1.1rem;
    margin-left: 1rem;
    max-width: 6rem;
    max-height:1.5rem;
    background-color: rgb(137, 173, 218);
    padding:0 .25rem 0 .25rem;
    border-radius: .25rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);

}

.ViewRouteContinerPoints:hover{
    text-decoration:underline;
    cursor:pointer;
}

.ViewRouteContinerOptimizedPoints{
    all:unset;
    color: black;
    font-size:1.1rem;
    margin-left: 1rem;
    max-width: 7rem;
    max-height:1.5rem;
    background-color: rgb(137, 173, 218);
    padding:0 .25rem 0 .25rem;
    border-radius: .25rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.ViewRouteContinerOptimizedPoints:hover{
    text-decoration:underline;
    cursor:pointer;
}

.ViewRouteContinerDirections{
    all:unset;
    color: black;
    font-size:1.1rem;
    margin-left: 1rem;
    max-width: 6rem;
    max-height:1.5rem;
    background-color: rgb(137, 173, 218);
    padding:0 .25rem 0 .25rem;
    border-radius: .25rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.ViewRouteContinerDirections:hover{
    text-decoration:underline;
    cursor:pointer;
}

.RoutePointsContainer{
    margin: .5rem;
    max-width: 13rem;
    width: 100%;
}

.RouteStart{
    background-color: rgb(238, 236, 236);
    color: green;
    max-width: 11rem;
    border-radius: 1.5rem;
    padding: .05rem .05rem .05rem .5rem;
    margin: .25rem;
}

.WayPointsContainer{
    max-height: 8rem;
    overflow-x: hidden;
    overflow-y: auto
}

.WayPointsWrapper{
    background-color: rgb(238, 236, 236);
    max-width: 11rem;
    border-radius: 1.5rem;
    padding: .05rem .05rem .05rem .5rem;
    margin: .25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.RoutePoints{ 
    color: rgb(50, 108, 179);
}

.DeleteWaypoint{
    padding:.05rem;
    margin: 0 .5rem 0 .5rem;
}

.RouteEnd{
    background-color: rgb(238, 236, 236);
    color: red;
    max-width: 11rem;
    border-radius: 1.5rem;
    padding: .05rem .05rem .05rem .5rem;
    margin: .25rem;
}

.setViewRouteFalse{
    position:absolute;
    top:.5rem;
    right:.5rem;
}



@media(max-width: 450px){
    .ViewRouteContiner{
    max-width:100%;
    top:auto;
    bottom:1rem;
    left: auto;
    }
  }
