

.SelectorFormInput{
    max-width: 10rem;
    background-color: rgb(236, 236, 236);
    color: black;
    margin: .5rem .5rem 0 .5rem;
    border-radius: .25rem;
    border: none;
    padding: .25rem;
    padding: 0.6em 1.2em;
}

